<form class="form-horizontal">
	<div class="form-group">
		<label for="inputModel" class="control-label col-xs-2">Model</label>
		<div class="col-xs-5">
			<input type="text" class="form-control" id="inputModel" ng-model="car.Model">
		</div>
	</div>
	<div class="form-group">
		<label for="inputBrand" class="control-label col-xs-2">Brand</label>
		<div class="col-xs-5">
			<input type="text" class="form-control" id="inputBrand" ng-model="car.Brand">
		</div>
	</div>
	<div class="form-group">
		<label for="inputYear" class="control-label col-xs-2">Year</label>
		<div class="col-xs-5">
			<input type="text" class="form-control" id="inputYear" ng-model="car.Year">
		</div>
	</div>
	<div class="form-group">
		<label for="inputPrice" class="control-label col-xs-2">Price</label>
		<div class="col-xs-5">
			<input type="text" class="form-control" id="inputPrice" ng-model="car.Price">
		</div>
	</div>
	<div>
		<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
	</div>

	<div class="form-group">
		<div class="col-xs-offset-2 col-xs-5">
			<button type="submit" ng-click="add()" class="btn btn-primary">Create</button>
		</div>
	</div>
</form>

